@import "tailwindcss";

@theme {
  --background: #0f2854;
  --secondary: #edebe7;
  --foreground: #fa865e;
  --textcolor: #020100;
  --font-cairo: "Cairo", sans-serif;
}
body {
  font-family: var(--font-cairo);
  direction: rtl;
}
