@import "tailwindcss";

@theme {
     --color-background: "#161E54",
        --color-secondary: "#EDEBE7",
        --color-foreground: "#FA865E",
        --color-textcolor: "#020100",
}
body {
  font-family: var(--font-cairo);
  direction: rtl;
}
