@import "tailwindcss";
@import "tw-animate-css";

:root{
  --background: #E5E1DC;
  --secondary: #EDEBE7;
  --foreground: #FA865E;
  --textcolor: #020100;
  --font-cairo: 'Cairo', sans-serif;
}
body {
  background: var(--background);
  color: var(--textcolor);
  font-family: var(--font-cairo);
  direction: rtl;
}