@import "tailwindcss";

@theme {
        --color-background: #174143;
        --color-secondary: #D9E9CF;
        --color-foreground: #F9B487;
        --color-textcolor: #EEEEEE;
}
body {
  font-family: var(--font-cairo);
  direction: rtl;
}
